/*
 * This file is licenced CC0 http://creativecommons.org/publicdomain/zero/1.0/
 */

/**************************************************************
  Incident Popup Style
 ************************************************************/

/* overwrite default leaflet style */
.incident-popup .leaflet-popup-content {
    line-height: 1.0;
}

.incident-popup h4 {
    text-align: center;
    font-weight: bold;
}

/* graphic info-box */
.incident-popup .info-box {
    text-align: center;
    padding: 10px;
}

/* put one box on the left and one on the right */
.incident-popup .alert-box {
    width: 50%;
    float: left;
}
.incident-popup .status-box {
    width: 50%;
    float: right;
}

/* text-value for the info-box's */
.incident-popup .box-label {
    font-weight: bold;
    font-size: 125%;
}

/* properties table */
.incident-popup .key {
    font-weight: bold;
}
.incident-popup .key:after {
    content: ": ";
}

.incident-popup .subscribe {
    text-align: center;
}
